html {
  scroll-behavior: smooth;
}

body {
  background-color: #cdcac5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23acacab' fill-opacity='0.3'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#p5-canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

.skewed-button-secondary {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  padding: 0px 25px;
  position: relative;
  color: #383838;
}

.skewed-button-secondary:hover {
  color: #cdcac5;
}

.skewed-button-secondary:after {
  background: transparent;
  border: #383838 3px solid;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg);
}

.skewed-button-secondary:hover:after {
  background: #383838;
  border: none;
}

.skewed-button-primary {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0px 25px;
  position: relative;
  color: #cdcac5;
}

.skewed-button-primary:hover {
  color: #383838;
}

.skewed-button-primary:after {
  background: #383838;
  border: none;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg);
}

.skewed-button-primary:hover:after {
  background: transparent;
  border: #383838 3px solid;
}

@keyframes typing {
  0.0000%,
  45.66%,
  100% {
    content: "";
  }
  4.16%,
  44.5% {
    content: "e";
  }
  8.33%,
  42.33% {
    content: "ed";
  }
  10.50%,
  40.33% {
    content: "edg";
  }
  20.50%,
  40.32% {
    content: "edge";
  }
  45.83%,
  95.83% {
    content: "c";
  }
  50%,
  91.66% {
    content: "cl";
  }
  54.16%,
  87.5% {
    content: "clo";
  }
  58.33%,
  83.33% {
    content: "clou";
  }
  62.5%,
  83.32% {
    content: "cloud";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 30%;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 4.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1ch solid var(--caret);
  animation: blink 0.5s linear infinite;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "writer";
    }
    50% {
      content: "reader";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

#blog-section {
  background-color: #383838;
  background-image: linear-gradient(
      0deg,
      rgba(56, 56, 56, 1) 0%,
      rgba(56, 56, 56, 0.3) 12.5%,
      rgba(56, 56, 56, 0) 25%,
      rgba(56, 56, 56, 0) 50%,
      rgba(56, 56, 56, 0) 75%,
      rgba(56, 56, 56, 0.3) 87.5%,
      rgba(56, 56, 56, 1) 100%
    ),
    url("geo_pattern.svg");
}
