---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black">
		<Header />
		<main class="container mx-auto">
			<video src="Tkaczyk-profile.mov" class="absolute left-1/2 -translate-x-1/2 min-h-screen -z-50" muted autoplay loop class="mx-auto"/>
			<div class="min-w-full min-h-screen flex flex-col items-end justify-end pb-32">
				<div class="flex flex-row items-center justify-end w-full ">
					<div class="justify-self-start flex-grow">
						<h3 class="text-neutral-500 rotate-90 inline-block font-display text-4xl -translate-y-20 -translate-x-28 opacity-30">@2024 <i>|</i> PL <i>|</i> WAW</h3>
					</div>
					<div class="text-end">
						<h3 class="text-neutral-500 font-body text-5xl uppercase font-extralight opacity-30">R&D Expert</h3>
						<h3 class="text-neutral-500 font-display text-8xl uppercase font-extralight opacity-70">
							Turning ideas
						</h3>
						<h3 class="text-neutral-500 font-display text-7xl uppercase font-extralight opacity-70">
							into <span class="text-cyan-500">reality<span class="animate-ping">_</span></span>
						</h3>
					</div>
					<div class="flex flex-row items-center ml-5 opacity-30">
						<div class="h-52 w-1 bg-neutral-500"/>
						<div class="h-1 w-10 bg-neutral-500"/>
					</div>
				</div>
				<div class="text-neutral-500 w-full text-center mt-16">
					<a href="/">
						<svg class="mx-auto" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.5001 8.08582L12.0002 13.5858L6.50015 8.08582L5.08594 9.50003L12.0002 16.4142L18.9144 9.50003L17.5001 8.08582Z" fill="currentColor"/>
						</svg>
					</a>
				</div>
			</div>
			
		</main>
		<Footer />
	</body>
</html>
