---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, "flex flex-col", { "font-bold": isActive }]} {...props}>
	<slot />
	<div class:list={["h-1 scale-y-50 w-full bg-neutral-500 opacity-30", {hidden: !isActive}]}/>
</a>
