---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import "../styles/global.css"
import FullscreenMenu from './Menu';
---

<header>
	<nav class="container px-6 md:px-12 lg:px-20 mx-auto grid grid-cols-2 grid-flow-row w-full mt-8 md:mt-16 text-custom-dark font-display z-50">
		<div class="flex items-center justify-start">
			<a href="/" class="w-32 md:w-48 lg:w-80 flex flex-col">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svg1" viewBox="24.87 99.47 118.11 21.13" class="w-full h-auto max-w-[180px] md:max-w-none">
					<path fill="currentColor" id="text1" style="font-size:19.8889px;font-family:'Critical Mass LDR';-inkscape-font-specification:'Critical Mass LDR';stroke-width:1.00619" d="m 24.866699,99.46783 v 4.97231 h 3.457154 v 11.18743 l 4.972306,4.9723 v -16.15973 h 11.945007 l 4.924764,-4.97231 z m 27.111524,0 -6.526217,6.5257 3.418396,3.4184 4.972306,-4.97179 h 9.380823 v 12.43025 h 4.972306 V 99.46783 Z m 20.294368,0 -2.798795,2.82102 0.0021,6.8125 4.661731,-4.66121 h 22.289595 l 4.972308,-4.97231 z m 30.991389,0 -6.215123,6.21512 h -3.107821 l -11.308354,11.18382 h 6.836792 l 6.336048,-6.21151 h 17.776688 l 7.45795,-7.45794 v -3.72949 h -4.97231 v 1.86449 l -4.35064,4.35063 h -7.83156 l 6.21512,-6.21512 z m 19.08256,0 v 17.40307 l 4.9723,-5.1e-4 v -6.21513 h 0.64906 l 6.21564,6.21513 h 6.21668 v -4.97231 h -4.35219 l -6.21564,-6.21513 h -2.51355 v -6.21512 z m 16.18764,0 -6.52622,6.52622 3.4184,3.41839 4.97179,-4.9723 h 2.57917 v -4.97231 z m -17.49402,5.59397 -6.83679,6.8368 -18.14205,-5.2e-4 -4.981091,4.97231 24.987621,5.1e-4 4.97231,-4.9723 z m -86.465009,0.57775 c 0.06234,4.61835 0,11.23084 0,11.23084 h 4.972306 v -6.21513 h 1.864486 l 6.215124,6.21513 h 14.295252 v -4.97231 h -12.43025 l -6.215641,-6.21513 h -3.728971 z m 40.183593,0.0434 -4.350639,4.35064 6.836792,6.8368 h 3.601848 l 4.987292,-4.97231 h -6.724654 l -1.864486,-1.86449 4.350639,-4.35064 z"/>
				</svg>
				<div class="flex flex-row mt-1 md:mt-2 items-center gap-1 md:gap-2 select-none">
					<h1 class="font-display uppercase font-medium text-xs md:text-sm scale-y-75">Mikołaj Tkaczyk</h1>
					<div class="h-1 scale-y-75 flex-grow bg-zinc-500 opacity-20"></div>
					<h2 class="font-display uppercase font-medium text-xs md:text-sm scale-y-75">R&D</h2>
					<svg class="hidden md:block w-16 md:w-24 lg:w-32 h-2 md:h-3" width="88" height="9" viewBox="0 0 88 9" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect opacity="0.1" width="3" height="12" transform="matrix(1 0 -0.707107 0.707107 9.08838 0.257324)" fill="currentColor"/>
						<rect opacity="0.25" width="4" height="12" transform="matrix(1 0 -0.707107 0.707107 15.5735 0.257324)" fill="currentColor"/>
						<rect opacity="0.4" width="5" height="12" transform="matrix(1 0 -0.707107 0.707107 23.0588 0.257324)" fill="currentColor"/>
						<rect opacity="0.55" width="8" height="12" transform="matrix(1 0 -0.707107 0.707107 31.5442 0.257324)" fill="currentColor"/>
						<rect opacity="0.7" width="10" height="12" transform="matrix(1 0 -0.707107 0.707107 43.0295 0.257324)" fill="currentColor"/>
						<rect opacity="0.85" width="12" height="12" transform="matrix(1 0 -0.707107 0.707107 56.5146 0.257324)" fill="currentColor"/>
						<rect width="16" height="12" transform="matrix(1 0 -0.707107 0.707107 72 0.257324)" fill="currentColor"/>
					</svg>
				</div>
			</a>
		</div>
		<div class="flex items-center justify-end gap-1">
			<div class="hidden md:flex items-center justify-end gap-1">
				<a href="/blog" class="mr-px h-8 skewed-button-secondary font-display font-medium text-sm">
					BLOG POSTS
				</a>
				<a href="/about" class="h-8 skewed-button-primary font-display font-medium text-sm">
					ABOUT ME
				</a>
			</div>
			<div class="flex items-center gap-0">
				<FullscreenMenu client:load/>
				<svg class="hidden md:block -ml-px" xmlns="http://www.w3.org/2000/svg" width="97" height="32" viewBox="0 0 97 32" fill="none">
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 33.2905 0.400748)" fill="#383838"/>
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 33.2905 0.400748)" stroke="#383838" stroke-width="3"/>
					<g opacity="0.75">
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 51.1104 0.400748)" fill="#383838"/>
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 51.1104 0.400748)" stroke="#383838" stroke-width="3"/>
					</g>
					<g opacity="0.5">
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 68.9302 0.400748)" fill="#383838"/>
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 68.9302 0.400748)" stroke="#383838" stroke-width="3"/>
					</g>
					<g opacity="0.25">
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 86.75 0.400748)" fill="#383838"/>
					<rect x="0.43934" y="1.06066" width="8" height="42" transform="matrix(1 0 -0.707107 0.707107 86.75 0.400748)" stroke="#383838" stroke-width="3"/>
					</g>
				</svg>
			</div>
		</div>
	</nav>
</header>
